* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 폰트사이즈  rem 계산용이를 위해둠 */
  font-size: 62.5%;
}

.react-datepicker,
.react-datepicker * {
  font-size: 12.8px !important;
}

.react-datepicker__aria-live {
  display: none;
}
.react-datepicker__header {
  padding: 15px 0;
}
.react-datepicker__current-month {
  margin-bottom: 5px;
}
.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  margin-top: -2px;
}

body {
  margin: 0;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  line-height: 1;
  font-size: 1.6rem;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.show-desktop,
.show-mobile {
  transition: opacity 0.3s ease;
}

/* 1024px 이상에서 보이고, 그 이하에서는 숨기는 클래스 */
.show-desktop {
  opacity: 1;
  display: block;
}

@media screen and (max-width: 1024px) {
  .show-desktop {
    opacity: 0;
    display: none;
  }
}

/* 1024px 이하에서 보이고, 그 이상에서는 숨기는 클래스 */
.show-mobile {
  display: none;
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .show-mobile {
    display: block;
    opacity: 1;
  }
}

.ReactModal__Overlay--after-open {
  z-index: 100;
}
